.request-btn{
    width: 50%;
    border: none;
    background-color:#006576 ;
    color: white;
    font-weight: 700;
    padding: 15px 10px;
    border-radius: 5px;
}

.reset-btn{
    margin-left: 5px;
    width: 25%;
    border: none;
    background-color:#006576 ;
    color: white;
    font-weight: 700;
    padding: 15px 10px;
    border-radius: 5px;
}

.appointment-from{
    border: 1px solid rgb(235, 231, 231);
    /* background-color: #34474b; */
    
}

.appointment-header{
    padding-top: 10px;
    margin-top: 10px;
    /* text-align: left; */
    color:#006576 ;
    font-weight: 700;
}