.nav-brand{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size:30px;
}

.nav-items{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size:16px;
}

.menu-bg{
    background-color: rgb(0 101 118);
}

.nav-items-btn{
    /* background-color: burlywood; */
    text-decoration: none;
    font-weight: 500;
    
}