.fontAwesome-icon{
    color: #006576;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mission-header{
    color: #006576;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 50px;
}

.mission-title {
    color: #006576;
    font-weight: 600;

}

.mission-paragraph{
color: #006576;
}